body {
  font-family: 'Cutive Mono';
}

/*typography*/

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

h2 {
  margin-bottom: 15px;
}

p {
  font-size: 14px;
}

.strong {
  font-weight: bold;
}

/*form*/

#form {
  max-width: 320px;
  margin: 30px auto;
  text-align: center;
  clear: both;
}

input[type=text], input[type=submit] {
  font-family: 'Cutive Mono';
  border: 1px solid black;
  padding: 5px 7px;
  font-size: 14px;
}

input[type=text]:focus, input[type=submit]:focus {
  outline: 0;
}

input[type=submit] {
  background-color: black;
  color: white;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}

.character-select {
  width: 65px;
  display: inline-block;
}

.enter-name {
  margin-top: 20px;
  display: none;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + img {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
}

label > input:checked + img {
  border: 1px solid black;
}

/*stage*/

#stage {
  position: relative;
  max-width: 320px;
  height: 480px;
  margin: auto auto;
  border: solid 1px #000;
  overflow: hidden;
}

/*sprites*/

.character {
  position: absolute;
  z-index: 1;
  display: none;
}

.character::after {
  content: attr(alt);
  position: absolute;
  bottom: -18px;
  font-size: 12px;
  color: white;
  background: black;
  border-radius: 3px;
  padding: 2px 3px;
}

.alex {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 34px;
  background: url('/images/alex.png') no-repeat;
}

.gerry {
  top: 192px;
  left: 128px;
  width: 44px;
  height: 34px;
  background: url('/images/gerry.png') no-repeat;
}

.snowball {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  z-index: 2;
  background: url('/images/snowball.png') no-repeat;
  display: none;
}

.alex.front-right { background-position: -152px -14px; }
.alex.front-stand { background-position: -7px -14px; }
.alex.front-left { background-position: -53px -14px; }

.alex.left-right { background-position: -50px -63px; }
.alex.left-stand { background-position: -3px -63px; }
.alex.left-left { background-position: -149px -63px; }

.alex.right-right { background-position: -155px -159px; }
.alex.right-stand { background-position: -10px -159px; }
.alex.right-left { background-position: -56px -159px; }

.alex.back-right { background-position: -153px -110px; }
.alex.back-stand { background-position: -8px -110px; }
.alex.back-left { background-position: -54px -110px; }

.gerry.front-right { background-position: -156px -9px; }
.gerry.front-stand { background-position: -11px -9px; }
.gerry.front-left { background-position: -57px -9px; }

.gerry.left-right { background-position: -151px -58px; }
.gerry.left-stand { background-position: -6px -58px; }
.gerry.left-left { background-position: -52px -58px; }

.gerry.right-right { background-position: -149px -154px; }
.gerry.right-stand { background-position: -4px -154px; }
.gerry.right-left { background-position: -49px -154px; }

.gerry.back-right { background-position: -156px -105px; }
.gerry.back-stand { background-position: -11px -105px; }
.gerry.back-left { background-position: -57px -105px; }