body {
  font-family: 'Cutive Mono';
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 30px;
}

h2 {
  margin-bottom: 15px;
}

#form {
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

#form p {
  display: inline;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 5px;
}

label > input:checked + img {
  border: 2px solid black;
}

.character {
  position: absolute;
  top: 192px;
  left: 128px;
  width: 35px;
  height: 34px;
  z-index: 1;
  background: url('/images/alex.png') no-repeat;
}

.character.front-right { background-position: -152px -14px; }
.character.front-stand { background-position: -7px -14px; }
.character.front-left { background-position: -53px -14px; }

.character.left-right { background-position: -50px -63px; }
.character.left-stand { background-position: -3px -63px; }
.character.left-left { background-position: -149px -63px; }

.character.right-right { background-position: -155px -159px; }
.character.right-stand { background-position: -10px -159px; }
.character.right-left { background-position: -56px -159px; }

.character.back-right { background-position: -153px -110px; }
.character.back-stand { background-position: -8px -110px; }
.character.back-left { background-position: -54px -110px; }

/*.character {
  position: absolute;
  top: 192px;
  left: 128px;
  width: 44px;
  height: 34px;
  z-index: 1;
  background: url('/images/gerry.png') no-repeat;
}

.character.front-right { background-position: -156px -9px; }
.character.front-stand { background-position: -11px -9px; }
.character.front-left { background-position: -57px -9px; }

.character.left-right { background-position: -151px -58px; }
.character.left-stand { background-position: -6px -58px; }
.character.left-left { background-position: -52px -58px; }

.character.right-right { background-position: -149px -154px; }
.character.right-stand { background-position: -4px -154px; }
.character.right-left { background-position: -49px -154px; }

.character.back-right { background-position: -156px -105px; }
.character.back-stand { background-position: -11px -105px; }
.character.back-left { background-position: -57px -105px; }*/

/*Stage*/
#stage {
    position: relative;
    width: 640px;
    height: 480px;
    margin: auto auto;
    border: solid 2px #000;
    overflow: hidden;
  }