.character {
  position: absolute;
  top: 192px; /*starting pos*/
  left: 128px; /*starting pos*/
  width: 35px;
  height: 34px;
  z-index: 1;
  background: url('/images/alex.png') no-repeat;
}

.character.front-right { background-position: -152px -14px; }
.character.front-stand { background-position: -7px -14px; }
.character.front-left { background-position: -53px -14px; }

.character.left-right { background-position: -50px -63px; }
.character.left-stand { background-position: -3px -63px; }
.character.left-left { background-position: -149px -63px; }

.character.right-right { background-position: -155px -159px; }
.character.right-stand { background-position: -10px -159px; }
.character.right-left { background-position: -56px -159px; }

.character.back-right { background-position: -153px -110px; }
.character.back-stand { background-position: -8px -110px; }
.character.back-left { background-position: -54px -110px; }

/*Stage*/
#stage {
    position: relative;
    width: 640px;
    height: 480px;
    margin: auto auto;
    border: solid 2px #000;
    overflow: hidden;
  }